#scene1 {
  background-image: url('./media/bg1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
