.nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 1002;
}

.menuGradiant {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 400px;
  background: linear-gradient(110deg, #dffef8, #fedf4a, #dffef8, #6fb7ad, #dffef8,#e23c6a);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
}

.toggleButton {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

.ul {
  margin: 0;
  padding: 0;
  padding: 25px;
  position: absolute;
  top: 300px;
  width: 320px;
}

.li {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menuItem {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
