.app {
  padding-top: 591.44 / 1127.34 * 100%;
  position: relative;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.handwriting {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 2.5em;
}

.computerwriting {
  font-family: 'VT323', monospace;
  font-size: 2.5em;
}

$white: #DEFDF7;
